<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>
<body>
    
    <form action="/search/1" method="GET">
        <label for="filter">Search</label>
        <select name="filter" id="filter">
            <option value="borough">Borough</option>
            <option value="cuisine">Cuisine</option>
            <option value="name">Name</option>
        </select>
        <input type="text" name="query">
        <input type="submit" value="search">
    </form>

    <ul style="list-style-type: none;">
        <% if(search){ %> 
            <% if (currentPage < pageCount && currentPage != 1){ %>
                <a href="/search/<%= parseInt(currentPage) - 1 %>?filter=<%=filter%>&query=<%=query%>">Previous Page</a>
                <a href="/search/<%= parseInt(currentPage) + 1 %>?filter=<%=filter%>&query=<%=query%>">Next Page</a>
            <% }else if(currentPage == pageCount && pageCount > 1){ %>
                <a href="/search/<%= parseInt(currentPage) - 1 %>?filter=<%=filter%>&query=<%=query%>">Previous Page</a>
            <% }else if(currentPage == 1 && pageCount > 1){ %>
                <a href="/search/<%= parseInt(currentPage) + 1 %>?filter=<%=filter%>&query=<%=query%>">Next Page</a>
            <% } %>
        <% }else{ %>
            <% if (currentPage < pageCount && currentPage != 1){ %>
                <a href="/restaurants/<%= parseInt(currentPage) - 1 %>">Previous Page</a>
                <a href="/restaurants/<%= parseInt(currentPage) + 1 %>">Next Page</a>
            <% }else if(currentPage == pageCount && pageCount > 1){ %>
                <a href="/restaurants/<%= parseInt(currentPage) - 1 %>">Previous Page</a>
            <% }else if(currentPage == 1 && pageCount > 1){ %>
                <a href="/restaurants/<%= parseInt(currentPage) + 1 %>">Next Page</a>
            <% } %>
        <% } %> 
        <!--Hey Jay, Just update this part here, the above is the page stuff, you can try to style it more if you would like-->
        <% restaurants.forEach(restaurant=>{ %>
            <li><a href="/restaurant/<%= restaurant._id %>"><%= restaurant.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>